.main {
    margin: 30px;
    background-color: white;
}

.body {
    background-color: #efefef;
}

.btn-success {
    float: right;
    margin-bottom: 15px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.avatar-img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.user-name {
    margin-top: 10px;
}
.comment {
    margin-bottom: 10px;
}
